.hv-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  background: #eee;
  font-family: proxima-nova, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  padding-top: 50px;
}

.header {
  background: rgba(255, 255, 255, 0.25);
  height: 50px;
  left: 0;
  overflow: hidden;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h1 {
  float: left;
  font-size: 2.4rem;
  font-variant: small-caps;
  height: 100%;
  margin: 0;
}

.header h1 a, .header h1 a:hover {
  display: block;
  height: 100%;
  text-decoration: none;
}

.header h1 img {
  height: 100%;
  width: auto;
}

.header .login-user {
  float: right;
  height: 100%;
}

.header .login-user img {
  max-height: 100%;
  width: auto;
}

.footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.content {
  display: block;
  padding: 0 40px;
}

.global-navi {
  background: #333;
  color: #fff;
}

.global-navi ul {
  list-style-type: none;
  padding: 0;
}

.global-navi li {
  display: inline-block;
}

.global-navi a {
  color: #fff;
  display: block;
  padding: 10px 40px;
}

.hero-unit {
  background: url(../images/pic_3.jpg) no-repeat center bottom/cover;
  color: #fff;
  margin-top: -50px;
  min-height: 100vh;
  position: relative;
}

.hero-unit .lead {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 4px black;
}

.hero-unit form {
  text-align: center;
}

.angular-google-map-container {
  height: 500px;
}

.page-login .header a, .page-login .header a:hover {
  color: #fff;
}

.page-login .content {
  padding: 0;
}

.page-login .hero-unit form {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 20px;
  width: 280px;
}

.header {
  z-index: 1;
}
