<section>
  <div class="carousel">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-transition="fadeAndSlide">
      <li ng-repeat="image in hosts.images">
        <img alt="" ng-src="{{ image.url }}">
      </li>
    </ul>
    <div class="rn-carousel-indicator custom-indicator">
      <div style="background: url({{ image.url }}) no-repeat center center / cover" ng-repeat="image in hosts.images" ng-class="{ active: $index === $parent.carouselIndex }" ng-click="$parent.carouselIndex = $index"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <p style="background: url({{ hosts.user.imageUrl }}) no-repeat center center / cover; padding-top: 100%"></p>
          </div>
          <div class="col-sm-8">
            <div class="pull-right"><i class="fa fa-star fa-2x"></i></div>
            <p><strong>{{ hosts.user.fullName }}</strong> ({{ hosts.user.age }})</p>
            <p>{{ hosts.user.job }}</p>
            <p>
              <i class="fa fa-language fa-lg fa-fw"></i>
              <span class="label label-default" ng-repeat="language in hosts.user.languageNames">{{ language }}</span>
            </p>
            <p>
              <i class="fa fa-map-marker fa-lg fa-fw"></i>
              {{ hosts.user.residence }}
            </p>
          </div>
        </div>
        <p ng-repeat="message in hosts.user.messageCollection">{{ message }}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p><button class="btn btn-lg btn-primary btn-block">Get contact</button></p>
      <div>
        <div class="well" style="margin: 20px 0;" ng-repeat="image in hosts.images">
          <div style="background: url({{ image.url }}) no-repeat center center / cover; padding-top: 56.25%; margin: -19px -19px 10px; border-radius: 4px 4px 0 0;"></div>
          スカイツリー
        </div>
      </div>
    </div>
  </div>
</section>
