<div class="users" style="background-image: url({{ room.host.photos[0].url }})">
  <div class="row">
    <div class="col-sm-6">
      <div class="guest">
        <h2 class="page-header">Guest</h2>
        <div class="avator" style="background-image: url({{ room.guest.imageUrl }})"></div>
        <div class="name">{{ room.guest.fullName }}</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="host">
        <h2 class="page-header">Host</h2>
        <div class="avator" style="background-image: url({{ room.host.imageUrl }})"></div>
        <div class="name">{{ room.host.fullName }}</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="well tip clearfix">
  <ul class="pull-left">
    <li>直接のお金のやり取りは絶対にやめてください</li>
    <li>入力日以降にチップ送金ボタンが有効になります</li>
  </ul>
  <p class="pull-right"><button disabled class="btn btn-success">チップを送金する</button></p>
</div> -->
<div class="row">
  <div class="col-sm-6">
    <div class="chat well">
      <h2 class="page-header">メッセージ</h2>
      <!-- <div ng-class="{ loading: !room.room.isMessageLoaded }" ng-if="!room.room.isMessageLoaded"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
      <div class="messages">
        <div class="message" ng-repeat="message in room.room.messages" ng-class="{ me: room.room.me === message.userId }">
          <div class="avator" style="background-image: url({{ room.users[message.userId].imageUrl }})" ng-if="!room.isMe(message.userId)"></div>
          <div class="text">{{ message.message }}</div>
        </div>
      </div>
      <div class="input-area">
        <textarea class="form-control" placeholder="Message" ng-model="room.newMessage"></textarea>
        <button class="btn btn-primary btn-block" ng-click="room.postMessage()">送信</button>
      </div> -->
      <chat room-id="room.roomId"></chat>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="schedule well">
      <h2 class="page-header">スケジュール</h2>
      <div ui-calendar="room.uiConfig.calendar" class="calendar" ng-model="room.schedule"></div>
    </div>
  </div>
</div>
