.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.hv-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading {
  padding: 20px;
  text-align: center;
}

html {
  height: 100%;
}

body {
  background: #eee;
  font-family: proxima-nova, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  padding-top: 58px;
}

img {
  height: auto;
  max-width: 100%;
}

.header {
  font-size: 12px;
  height: 58px;
}

.header img {
  max-height: 27px;
}

.header .badge {
  background-color: #d9534f;
  vertical-align: top;
}

.header .login-btns {
  padding: 15px;
}

.header .navbar-nav > li > a {
  line-height: 22px;
}

.header .header-notifications a span {
  background: transparent no-repeat center center / cover;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.footer p {
  background: #fff;
  border-top: 1px solid #ccc;
  font-size: 10px;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.content {
  display: block;
  padding: 0 40px;
}

.bg {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.bg .bg-images {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg .bg-images .bg-image {
  background: transparent no-repeat center center / cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  width: 100%;
}

.bg .bg-images .bg-image.active {
  opacity: 1;
}

.bg .bg-cover {
  background: -webkit-radial-gradient(center ellipse, #1e5799 0%, rgba(54, 151, 142, 0.5) 0%, #0c526c 100%, #3d7eaa 100%, #182848 100%, #6e48aa 100%, #6e48aa 100%);
  background: radial-gradient(ellipse at center, #1e5799 0%, rgba(54, 151, 142, 0.5) 0%, #0c526c 100%, #3d7eaa 100%, #182848 100%, #6e48aa 100%, #6e48aa 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.global-navi {
  background: #333;
  color: #fff;
}

.global-navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.global-navi li {
  display: inline-block;
}

.global-navi a {
  color: #fff;
  display: block;
  padding: 10px 40px;
}

.hero-unit {
  background: url(../img/pic_3.jpg) no-repeat center bottom/cover;
  color: #fff;
  margin-top: -58px;
  min-height: 100vh;
  position: relative;
}

.hero-unit .lead {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 4px black;
}

.hero-unit form {
  text-align: center;
}

.map-canvas .map-window-image {
  background: transparent no-repeat center center / cover;
  display: inline-block;
  height: 120px;
  width: 120px;
}

.list-with-photo ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.list-with-photo li {
  float: left;
  width: 50%;
}

.list-with-photo a {
  background: transparent no-repeat center center / cover;
  display: block;
  height: 0;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.list-with-photo span {
  background: no-repeat center center / cover;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: 10px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  width: 40px;
}

.photos:after {
  clear: both;
  content: '';
  display: block;
}

.photos .photo {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  float: left;
  margin: 0 0 3% 3%;
  padding: 20px;
  width: 31%;
}

.photos .photo:nth-child(3n + 1) {
  margin: 0 0 3% 0;
}

.photos .photo .photo-image {
  background: transparent no-repeat center center / cover;
  border-radius: 4px 4px 0 0;
  display: block;
  margin: -20px -20px 20px;
  padding-top: 100%;
}

.photos .photo.photo-add {
  background: transparent;
  border: 8px dashed #ccc;
  box-shadow: none;
}

.chat .message {
  margin: 20px 0;
  text-align: left;
}

.chat .message .avator {
  background: transparent no-repeat center center / cover;
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  margin-right: 20px;
  vertical-align: top;
  width: 60px;
}

.chat .message .text {
  background: #fff;
  border-radius: 1em;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  max-width: calc(100% - 85px);
  padding: 10px 18px;
  position: relative;
}

.chat .message .text:before {
  background: #fff;
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  content: '\00a0';
  display: block;
  height: 16px;
  left: -9px;
  position: absolute;
  top: 11px;
  -webkit-transform: rotate(29deg) skew(-35deg);
      -ms-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
  width: 20px;
}

.chat .message.me {
  text-align: right;
}

.chat .message.me .text {
  background: #ccf;
  max-width: 100%;
  text-align: left;
}

.chat .message.me .text:before {
  background: #ccf;
  box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
  left: auto;
  right: -9px;
}

.page-login .header a, .page-login .header a:hover {
  color: #fff;
}

.page-login .content {
  padding: 0;
}

.page-login .hero-unit form {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 20px;
  width: 280px;
}

.page-spots {
  height: 100%;
}

.page-spots .content {
  height: calc(100% - 25px);
  overflow: hidden;
  padding: 0;
}

.page-spots .search-section {
  margin: 20px;
}

.page-spots .list-section {
  background: #fff;
  float: right;
  height: 100%;
  max-width: 360px;
  overflow: auto;
  width: 35%;
}

.page-spots .list-section .no-item {
  color: #ccc;
  margin: 20px;
  text-align: center;
}

.page-spots .map-section {
  height: 100%;
  overflow: hidden;
}

.page-spots .map-section .angular-google-map-container .searchbox {
  margin: 10px;
  direction: ltr;
  overflow: hidden;
  position: relative;
  color: #565656;
  font-family: Roboto, Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 11px;
  padding: 8px;
  border: 0;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  min-width: 44px;
  background-color: white;
  background-clip: padding-box;
  min-width: 360px;
}

.page-home .modal-body {
  height: 500px;
}

.page-home .modal-body .angular-google-map {
  height: 100%;
}

.page-home .modal-body .angular-google-map .angular-google-map-container {
  height: 100%;
}

.page-hosts .carousel {
  margin: 0 -40px 20px;
  position: relative;
}

.page-hosts .carousel ul {
  height: 500px;
  margin: 0;
}

.page-hosts .carousel ul li div {
  background: transparent no-repeat center center / cover;
  height: 100%;
}

.page-hosts .carousel .custom-indicator {
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  bottom: 0;
  left: 0;
  padding: 100px 10px 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.page-hosts .carousel .custom-indicator div {
  background: transparent no-repeat center center / cover;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  margin: 0 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 80px;
}

.page-hosts .carousel .custom-indicator div.active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.page-hosts .user {
  color: #fff;
  min-width: 360px;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.page-hosts .user .user-image {
  background: transparent no-repeat center center / cover;
  border-radius: 50%;
  height: 160px;
  margin: 0 auto;
  width: 160px;
}

.page-hosts .footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.page-room .users {
  background: transparent no-repeat center center / cover;
  margin: 0 -40px 20px;
  text-align: center;
}

.page-room .users .guest, .page-room .users .host {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 20px 0;
  overflow: hidden;
  padding: 0 20px 20px;
}

.page-room .users .guest .page-header, .page-room .users .host .page-header {
  margin: 20px 0;
}

.page-room .users .guest .avator, .page-room .users .host .avator {
  background: transparent no-repeat center center / cover;
  border-radius: 50%;
  height: 120px;
  margin: 0 auto 10px;
  width: 120px;
}

.page-room .chat {
  padding: 20px;
}

.page-room .chat .me {
  margin-right: 20px;
}

.page-room .chat .input-area textarea {
  margin-bottom: 10px;
}

.header {
  z-index: 1;
}

.bg {
  z-index: -1;
}
